<!DOCTYPE html>
<html>
<head>
    <title>{{ ctf_name() }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ request.script_root }}/static/{{ ctf_theme() }}/img/favicon.ico"
          type="image/x-icon">
    <link rel="icon" href="{{ request.script_root }}/static/{{ ctf_theme() }}/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ request.script_root }}/static/{{ ctf_theme() }}/css/vendor/bootstrap.min.css">
    <link rel="stylesheet"
          href="{{ request.script_root }}/static/{{ ctf_theme() }}/css/vendor/font-awesome/css/font-awesome.min.css"/>
    <link href='{{ request.script_root }}/static/{{ ctf_theme() }}/css/vendor/lato.css' rel='stylesheet'
          type='text/css'>
    <link href='{{ request.script_root }}/static/{{ ctf_theme() }}/css/vendor/raleway.css' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="{{ request.script_root }}/static/{{ ctf_theme() }}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ request.script_root }}/static/user.css">
    {% block stylesheets %}{% endblock %}
    <script src="{{ request.script_root }}/static/{{ ctf_theme() }}/js/vendor/moment.min.js"></script>
    <script type="text/javascript">
        var script_root = "{{ request.script_root }}";
    </script>
</head>
<body>
<div class="body-container">
    <div class="navbar navbar-inverse home">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ request.script_root }}/" class="navbar-brand">{{ ctf_name() }}</a>
            </div>
            <div class="navbar-collapse collapse" aria-expanded="false" style="height: 0px">
                <ul class="nav navbar-nav">
                    {% for page in pages() %}
                        <li><a href="{{ request.script_root }}/{{ page.route }}">{{ page.route|title }}</a></li>
                    {% endfor %}
                    <li><a href="{{ request.script_root }}/teams">Teams</a></li>
                    <li><a href="{{ request.script_root }}/scoreboard">Scoreboard</a></li>
                    <li><a href="{{ request.script_root }}/challenges">Challenges</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if username is defined %}
                        {% if admin %}
                            <li><a href="{{ request.script_root }}/admin">Admin</a></li>
                        {% endif %}
                        <li><a href="{{ request.script_root }}/team">Team</a></li>
                        <li><a href="{{ request.script_root }}/profile">Profile</a></li>
                        <li><a href="{{ request.script_root }}/logout">Logout</a></li>
                    {% else %}
                        {% if can_register() %}
                            <li><a href="{{ request.script_root }}/register">Register</a></li>
                            <li><a style="padding-left:0px;padding-right:0px;">|</a></li>
                        {% endif %}
                        <li><a href="{{ request.script_root }}/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
        <div class="jumbotron">
                <h1 class="display-3">Downtime Maintenance planned for 8:00PM
                        Wednesday November 8th 2017</h1>
                <p class="lead">Predicted time: 30 minutes </p>
        </div>
	</br>
	<img class=banner-pic src="static/original/img/rc3Banner.png" width="90%" height="10%">
	</br>
	<h3>Begins Friday Nov 17th 9pm EST - Sunday Nov 19th 11:59:59 EST.</h3>
    	<h3>Creating an account</h3>
	<ol>
		<li>Select "Registration" at the top</li>
		<li>Enter a username, an e-mail, and, password for your account.</li>
		<li>Please check your e-mail including the spam folder for your e-mail.</li>
		<li>Select the link in the e-mail to verify your account</li>

	</ol>
	<h3> Here Be Rules </h3>
				<ol>
						<li> Team
							<ul>
								<li>5 people per Team no more.</li>
							</ul>
						</li>
						<li> Cooperation
								<ul>
										<li>There should be no cooperation between teams. Sharing flags or
										giving away hints is considered cheating.
										</li>
										<li>Teams are not allowed to give themselves or any other team an
										unfair advantage</li>
								</ul>
						</li>
						<li>ScoreBoard
								<ul>
										<li>Do not attack the infrastructure. Do not scan or attack the
										scoreboard server, IRC server, or any other RIT or CTF
										infrastructure.</li>
								</ul>

						</li>
						<li>Sabotage
								<ul>
										<li>Do not attack other competing teams.</li>
								</ul>
						</li>
						<li>Bruteforcing
								<ul>
										<li>Do not guess or bruteforce flags or answers.
										</li>
								</ul>
						</li>
						<li>Denial of Service
								<ul>
										<li>No challenges call for Denial of Service attacks, and any DOS
										attacks are not allowed.
										</li>
								</ul>
						</li>
						<li>Challenges
								<ul>
										<li>SSH is off limits, unless specifically stated for a challenge.</li>
										<ul><li>If we see SSH activity we will Ban the IP and if possible the team.</li></ul>
										<li>Web challenges will state the IP and port that challenge is on.</li>
										<li>Reversing challenges will state the IP and port that challenge is on.</li>
										<li>If any team, by any means, is able to get root access or anyt
										type of advantage, find the flag and leave the system alone. Do not
										ruin the competition for other people.</li>
										</ul>
								</li>

							<li>Contact Us
								<ul>
									E-mail: rc3admin@rc3.club
								</ul>
							</li>
						</ol>
	<h3><b>If you have issues signing up please clear cookies</b><h3>

	{{ content | safe }}

</div>
<script src="{{ request.script_root }}/static/{{ ctf_theme() }}/js/vendor/jquery.min.js"></script>
<script src="{{ request.script_root }}/static/{{ ctf_theme() }}/js/vendor/marked.min.js"></script>
<script src="{{ request.script_root }}/static/{{ ctf_theme() }}/js/vendor/bootstrap.min.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
